* {
  margin: 0 auto;
  box-sizing: border-box;
  font-family: 'Gothic A1', sans-serif; }

body {
  font-size: 62.5%;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

main {
  justify-content: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.flex-c {
  display: flex;
  flex-direction: column;
  align-items: center; }

.flex-r {
  display: flex; }
  @media (max-width: 750px) {
    .flex-r {
      flex-direction: column; } }

.image {
  max-width: 800px;
  display: flex;
  flex: 1 1 auto;
  position: absolute;
  z-index: -1; }

.menu {
  position: fixed;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 70px;
  letter-spacing: 2px;
  align-items: center;
  font-family: 'Gothic A1', sans-serif;
  background-color: #fff; }
  @media (max-width: 600px) {
    .menu {
      display: none; } }

ul {
  width: 100%;
  display: flex;
  text-decoration: none;
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center; }

li a {
  color: #0f919e;
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none; }
  @media (max-width: 600px) {
    li a {
      font-size: 2rem; } }

a:link {
  text-decoration: none; }

a:visited {
  color: #0f919e;
  text-decoration: none; }

#home-icon {
  fill: #0f919e; }
  @media (max-width: 600px) {
    #home-icon {
      width: 40px;
      height: 40px; } }

.hover {
  transition: all 0.1s ease-in-out;
  position: relative; }
  .hover:before, .hover:after {
    content: "";
    position: absolute;
    bottom: -10px;
    width: 0px;
    height: 2px;
    margin: 5px 0 0;
    transition: all 0.1s ease-in-out;
    transition-duration: 0.4s;
    opacity: 0;
    background-color: #0f919e; }
  .hover.underline:before {
    left: 50%; }
  .hover.underline:after {
    right: 50%; }

.hover:hover:before, .hover:hover:after {
  width: 100%;
  opacity: 1; }

.hover:hover.underline:before, .hover:hover.underline:after {
  width: 50%; }

.menu-mobile {
  display: none; }
  @media (max-width: 600px) {
    .menu-mobile {
      position: fixed;
      display: flex;
      width: 100%;
      justify-content: center;
      background-color: #fff;
      z-index: 999; }
      .menu-mobile ul {
        flex-direction: column; }
      .menu-mobile #menu-btn {
        margin: 1rem;
        font-size: 1rem;
        font-weight: 400;
        color: #0f919e;
        background-color: inherit; } }

.nav-menu-mobile {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  height: 320px;
  position: relative;
  width: 100%; }
  .nav-menu-mobile ul {
    justify-content: space-around;
    height: 100%;
    padding: 1rem; }

.close:after {
  content: '';
  height: 60px;
  border-left: 2px solid gray;
  position: absolute;
  transform: rotate(45deg);
  right: 28px;
  margin: 15px; }

.close:before {
  content: '';
  height: 60px;
  border-left: 2px solid gray;
  position: absolute;
  transform: rotate(-45deg);
  right: 28px;
  margin: 15px; }

.main-home-container {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15%;
  width: 100vw;
  align-items: center; }

h1 {
  color: #0f919e;
  font-family: 'Lancelot', sans-serif;
  margin: 1rem 1rem 5rem;
  letter-spacing: 4px;
  font-weight: 300;
  text-align: center;
  width: fit-content; }
  @media (max-width: 1800px) {
    h1 {
      font-size: 7rem; } }
  @media (max-width: 1200px) {
    h1 {
      font-size: 4rem; } }
  @media (max-width: 900px) {
    h1 {
      font-size: 4rem;
      margin: 5rem 0; } }

h2,
button {
  font-size: 2rem; }

h2,
button,
#menu-btn {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 2rem 0;
  text-align: center;
  font-weight: 200;
  border-style: solid;
  width: fit-content;
  padding: 10px 20px;
  border-width: 2px; }
  @media (max-width: 750px) {
    h2,
    button,
    #menu-btn {
      font-size: 2rem; } }

h3 {
  letter-spacing: 2px;
  margin: 2rem 0 1rem;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 200;
  width: fit-content; }

.intro-p {
  line-height: 1.5;
  letter-spacing: 1px;
  width: 100%;
  font-weight: 300; }
  @media (max-width: 1800px) {
    .intro-p {
      font-size: 1.4rem; } }
  @media (max-width: 1200px) {
    .intro-p {
      font-size: 1.3rem; } }
  @media (max-width: 900px) {
    .intro-p {
      font-size: 1.2rem; } }
  @media (max-width: 600px) {
    .intro-p {
      font-size: 1rem; } }
  .intro-p p {
    margin: 1rem 3rem;
    text-align: center; }
  .intro-p .p-container {
    width: 60%;
    margin-bottom: 2rem; }
    @media (max-width: 750px) {
      .intro-p .p-container {
        width: 85%; } }
  .intro-p .p-border {
    border-left-style: solid;
    border-right-style: solid;
    border-width: 1px; }
  .intro-p .ph-2 {
    font-size: 2.2rem; }
  .intro-p .l {
    text-align: left;
    margin: 1rem 0; }
  .intro-p .padding {
    padding: 2rem; }

.header-container {
  display: flex;
  align-items: center;
  margin: 3rem 0 1rem; }

.who-header {
  margin: 0 1rem;
  color: #4f4f4f; }

.hello-container {
  align-items: flex-start;
  margin: 1rem 2rem 0; }

.h3-intro-name {
  color: #0f919e; }

.g {
  background-color: #90baac;
  color: #fff; }

.g2 {
  color: #90baac; }

.sm-width {
  width: 90%;
  color: #4f4f4f;
  max-width: 1200px; }

.image-container {
  margin: 3rem; }

.learn-btn {
  font-size: 1.2rem;
  width: 200px;
  border-color: transparent; }

.learn-btn a,
.learn-btn a:visited {
  color: #fff; }

.learn-btn:hover {
  border-color: #90baac;
  background-color: #fff;
  transition: all 0.1s ease-in-out;
  transition-duration: 0.3s; }
  .learn-btn:hover a {
    color: #90baac; }

.margin {
  margin: 5rem; }
